{% extends "base.html" %}


{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="col-sm-10 offset-sm-1">
    <h1>Hi {{ current_user.username }}!</h1>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="#">Add Details</a></li>
    <li class="breadcrumb-item " aria-current="page">Add Video</li>
  </ol>
</nav>
     <form action="" method=""  enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
 
     {{ wtf.form_field(form.name) }}
      {{ wtf.form_field(form.breeding) }}
       {{ wtf.form_field(form.age) }}
        {{ wtf.form_field(form.info) }}
         {{ wtf.form_field(form.price) }}
        
    <p>
         <label for="exampleFormControlFile1">Add Images</label>
    </p>
    
    <p>
       
          <input type="file" multiple="" name="file[]" /> 
    </p>
      <input type="submit" value="Add Horse" class="btn btn-secondary">
      
 </form>
 
       {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
 
 </div>
{% endblock %}


