{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="col-sm-10 offset-sm-1">
    <h1>Add Video</h1>
        <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active "><a href="#">Add Details</a></li>
    <li class="breadcrumb-item " aria-current="page">Add Video</li>
  </ol>
</nav>
<form action="" method="post" novalidate>
      <p>
             {{ wtf.form_field(form.video) }}
      </p>
       <p> <input type="submit" value="Add Video" class="btn btn-secondary"></p>
</form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
<h3>Current Videos</h3>
{% for vid in vids %}
<p>vid.video</p>
{% endfor %}
{% endblock %}

</div>